
@{
    ViewBag.Title = "Anasayfa";
}



<table border="1">

    <thead>
        <tr>
            <th>Aktif Kullanıcı</th>
            <th>Toplam Ziyaretci</th>
            <th>Renk</th>

        </tr>
    </thead>


    <tbody>
        <tr>
           <td>@ViewBag.aktifKullanici</td>
            <td>@ViewBag.toplamZiyaretci</td>
            <td>@ViewBag.color</td>
        </tr>
    </tbody>

</table>